[Desktop Entry]
Name=PyCharm 2025.2.4
Exec="/home/harry/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/harry/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm.svg
Comment=The Only Python IDE you need
StartupWMClass=jetbrains-pycharm
StartupNotify=true
